/* main site wrapper class */
.wrapper {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
}

/* header section */
.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

/* header logo section */
.main-header h1 {
  padding-left: 20px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 2em;
  font-family: "Homemade Apple", cursive;
  color: #000;
  margin: 0;
}

.main-header nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0 1rem;
}
/* daily message styling */
.dailyMessage p {
  font-family: "Merienda One", cursive;
  font-size: 1.5em;
  color: #ff004f;
  text-align: center;
  margin: 0;
  text-shadow: 0.5px 0px black;
}

.content-wrapper {
  text-align: center;
}

.content {
  margin-top: 1em;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  grid-row: auto;
  justify-items: center;
  width: 95%;
}
.content a {
  height: 350px;
  width: 350px;
}

.card {
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  height: 350px;
  width: 350px;
  border-radius: 5px;
  background: rgba(70, 72, 82, 0.3);
  text-align: center;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card .card-info {
  font-family: "Russo One", sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  color: white;
  font-size: 30px;
  text-shadow: 2px 1px black;
  display: grid;
  display: -ms-grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card .card-info h1 {
  word-break: keep-all;
}

.card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

/* ////////////////////////////////////*/
/* ////////////////////////////////////*/
/* ////////////////////////////////////*/
/* ////////////////////////////////////*/
/* ///////// HAMBURGER MENU ///////////*/
/* ////////////////////////////////////*/
/* ////////////////////////////////////*/
/* ////////////////////////////////////*/
/* ////////////////////////////////////*/

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  left: -360px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  -webkit-transition: left 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: left 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: left 0.4s ease, box-shadow 0.4s ease;
  transition: left 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 360px;
  background: #ff004f;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-menu a {
  text-transform: uppercase;
  display: block;
  grid-row: auto;
  padding: 0.75em 15px;
  font-family: sans-serif;
  line-height: 1em;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
}

.main-menu .menu-close {
  font-size: 1.5em;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 801px) {
  .main-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }

  .main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu ul a {
    font-size: 1em;
  }

  .main-menu a:link,
  a:visited {
    color: black;
    border: 1px solid;
    border-color: black;
    text-decoration: none;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
  }

  .main-menu a:hover,
  a:active {
    background-color: #ff004f;
    color: white;
  }
}
