body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)));
}

.header {
    grid-row: 1/-1;
    text-align: center;
}

.footer {
    grid-row: 1/-1;
    text-align: center
}

.restaurants {
    display: grid;
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    grid-gap: 10px
}

@media only screen and (min-width: 600px) {
    .restaurants {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .restaurants {
        grid-template-columns: repeat(3, 1fr);
    }
}

.restaurant {
 
}

.image {
    height:350px;
    width: 350px;
}